.brown {
  color: #7A4535;
}

.black {
  color: #0F0E0E;
}

.beige {
  color: #DED7CD;
}

.bold {
  font-family: "Manrope Bold";
  font-weight: 700;
}

.medium {
  font-family: "Manrope Medium";
  font-weight: 500;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.white {
  color: white;
}

.underline {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .nowrap {
    white-space: inherit;
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: inherit;
}

.vce {
  margin-bottom: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.test-bloc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width .vce.vce-single-image-wrapper {
  width: 100%;
  height: auto;
}
.full-width .vce.vce-single-image-wrapper figure {
  width: 100%;
  height: auto;
}
.full-width .vce.vce-single-image-wrapper figure .vce-single-image-figure-inner {
  width: 100% !important;
  height: auto;
}

.inter-cta {
  background-color: #DED7CD;
  color: #7A4535;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.1458333333vw;
  padding: 0 2.8645833333vw;
  height: 4.1145833333vw;
  border-radius: 2.2916666667vw;
  min-height: 70px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 13.75vw;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.inter-cta:hover, .inter-cta:focus-visible {
  color: #DED7CD !important;
  background: #7A4535;
}

.fs95 h1, .fs95 h2, .fs95 p, .fs95 h3, .fs95 {
  font-size: calc(95vw / 13.66);
}
@media (min-width: 1366px) {
  .fs95 h1, .fs95 h2, .fs95 p, .fs95 h3, .fs95 {
    font-size: calc(95vw / 19.2);
  }
}
.fs24 h1, .fs24 h2, .fs24 p, .fs24 h3, .fs24 {
  font-size: calc(24vw / 13.66);
}
@media (min-width: 1366px) {
  .fs24 h1, .fs24 h2, .fs24 p, .fs24 h3, .fs24 {
    font-size: calc(24vw / 19.2);
  }
}
@media (max-width: 767px) {
  .fs24 h1, .fs24 h2, .fs24 p, .fs24 h3, .fs24 {
    font-size: 18px !important;
  }
}

/************ fonts *************/
.fs95 {
  line-height: 1.05;
}
.fs95 h1, .fs95 h2, .fs95 p, .fs95 h3 {
  line-height: 1.05;
}

.fs24 {
  line-height: 1.25;
}
.fs24 h1, .fs24 h2, .fs24 p, .fs24 h3 {
  line-height: 1.25;
}

.pb-15 {
  padding-bottom: 0.78125vw;
}

/**************/
.wpcf7-not-valid-tip {
  display: none !important;
}

body input[type=text].wpcf7-not-valid, body input[type=email].wpcf7-not-valid, body input[type=tel].wpcf7-not-valid, body textarea.wpcf7-not-valid {
  border: 1px solid #ec3c06;
}

body div.wpcf7-validation-errors {
  background: #ffe2e2;
  border: 1px solid #ff8a8a;
  color: #ec3c06;
}

body div.wpcf7-response-output {
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
}

body .wpcf7-mail-sent-ng {
  background: #fff2e2;
  border: 1px solid #ffbc8a;
  color: #e17731;
}

body .wpcf7-mail-sent-ok {
  background: #e8ffe2;
  border: 1px solid #6fdf51;
  color: #1ea524;
}

/***************/
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px !important;
}

body::-webkit-scrollbar-track {
  background: #7A4535; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #DED7CD; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 5px solid #7A4535; /* creates padding around scroll thumb */
}

body {
  font-family: "Manrope Regular";
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.33;
  margin: 0;
  color: #0F0E0E;
}

.hero-slider .slider-col > .vce-col-inner {
  padding: 16.1458333333vw 60.4166666667vw 16.9270833333vw 11.9791666667vw;
}
/*# sourceMappingURL=../css/style.css.map */
