$brown        : #7A4535;
$beige        : #DED7CD;
$black   : #0F0E0E;


.brown{
  color: $brown;
}
.black{
  color:$black;
}
.beige{
  color:$beige;
}
.bold{
  font-family: 'Manrope Bold';
  font-weight: 700;
}
.medium{
  font-family: 'Manrope Medium';
  font-weight: 500;
}
.center{
  text-align: center;
}
.uppercase{
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color:inherit;
}
.white{
  color:white;
}
.underline{
  text-decoration: underline;
}
.nowrap{
  white-space: nowrap;
  @media( max-width : 767px){
    white-space: inherit;
  }
}
p{
  margin-block-start: 0;
  margin-block-end: 0;
}
h1,h2,h3{
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: inherit;
}
.vce{
  margin-bottom:0;
}
ul{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-bloc{
    @include flex-center;
}
.full-width{
  .vce.vce-single-image-wrapper{
    width:100%;
    height: auto;
    figure{
      width:100%;
      height: auto;
      .vce-single-image-figure-inner{
        width:100%!important;
        height: auto;
      }
    }
  }
}
.inter-cta{
  background-color: #DED7CD;
  color:$brown;
  font-family: 'Inter';
  font-weight: 500;
  font-size: calc(22vw / 19.2);
  padding: 0  calc(55vw / 19.2);
  height: calc(79vw / 19.2);
  min-height: 70px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
    transition: color .2s ease, background-color .2s ease;
    &:hover,
  &:focus-visible {
    color: #DED7CD!important;
    background: $brown;
  }
}