.pb-15{
    padding-bottom: calc(15vw / 19.2);
}
.pb-60{
    padding-bottom: calc(60vw / 19.2);
}


.pt-100{
    padding-top: calc(100vw / 19.2);
}

.plr-416{
    padding-left: calc(416vw / 19.2);
    padding-right: calc(416vw / 19.2);
}