.pb-15{
    padding-bottom: calc(15vw / 19.2);
}
.pb-20{
    padding-bottom: calc(20vw / 19.2);
}

.pb-25{
    padding-bottom: calc(25vw / 19.2);
}
.pb-60{
    padding-bottom: calc(60vw / 19.2);
}
.pb-110{
    padding-bottom: calc(110vw / 19.2);
}

.pt-100{
    padding-top: calc(100vw / 19.2);
}


.pl-280{
    padding-left: calc(280vw / 19.2);
}

.pr-278{
    padding-right: calc(278vw / 19.2);
}
.plr-416{
    padding-left: calc(416vw / 19.2);
    padding-right: calc(416vw / 19.2);
}
.plr-455{
    padding-left: calc(455vw / 19.2);
    padding-right: calc(455vw / 19.2);
}