.pb-15{
    padding-bottom: calc(15vw / 19.2);
}
.pb-20{
    padding-bottom: calc(20vw / 19.2);
}
.pb-30{
    padding-bottom: calc(30vw / 19.2);
}
.pb-45{
    padding-bottom: calc(45vw / 19.2);
}
.pb-35{
    padding-bottom: calc(35vw / 19.2);
}
.pb-40{
    padding-bottom: calc(40vw / 19.2);
}
.pb-25{
    padding-bottom: calc(25vw / 19.2);
}
.pb-60{
    padding-bottom: calc(60vw / 19.2);
}
.pb-70{
    padding-bottom: calc(70vw / 19.2);
}
.pb-80{
    padding-bottom: calc(80vw / 19.2);
}
.pb-90{
    padding-bottom: calc(90vw / 19.2);
}
.pb-50{
    padding-bottom: calc(50vw / 19.2);
}
.pb-55{
    padding-bottom: calc(55vw / 19.2);
}
.pb-110{
    padding-bottom: calc(110vw / 19.2);
}
.pb-115{
    padding-bottom: calc(115vw / 19.2);
}
.pb-125{
    padding-bottom: calc(125vw / 19.2);
}
.pb-120{
    padding-bottom: calc(120vw / 19.2);
}
.pb-135{
    padding-bottom: calc(135vw / 19.2);
}
.pb-140{
    padding-bottom: calc(140vw / 19.2);
}
.pb-240{
    padding-bottom: calc(240vw / 19.2);
}
.pb-150{
    padding-bottom: calc(150vw / 19.2);
}
.pb-210{
    padding-bottom: calc(210vw / 19.2);
}
.pb-225{
    padding-bottom: calc(225vw / 19.2);
}
.pb-283{
    padding-bottom: calc(283vw / 19.2);
}
.pb-290{
    padding-bottom: calc(290vw / 19.2);
}
.pb-170{
    padding-bottom: calc(170vw / 19.2);
}
.pb-105{
    padding-bottom: calc(105vw / 19.2);
}
.pb-155{
    padding-bottom: calc(155vw / 19.2);
}
.pb-100{
    padding-bottom: calc(100vw / 19.2);
}
.pb-185{
    padding-bottom: calc(185vw / 19.2);
}
.pt-100{
    padding-top: calc(100vw / 19.2);
}
.pt-136{
    padding-top: calc(136vw / 19.2);
}
.pt-26{
    padding-top: calc(26vw / 19.2);
}
.pt-85{
    padding-top: calc(85vw / 19.2);
}
.pt-110{
    padding-top: calc(110vw / 19.2);
}
.pt-115{
    padding-top: calc(115vw / 19.2);
}
.pt-120{
    padding-top: calc(120vw / 19.2);
}
.pt-145{
    padding-top: calc(145vw / 19.2);
}
.pt-150{
    padding-top: calc(150vw / 19.2);
}
.pt-180{
    padding-top: calc(180vw / 19.2);
}
.pt-90{
    padding-top: calc(90vw / 19.2);
}
.pl-280{
    padding-left: calc(280vw / 19.2);
}
.pl-416{
    padding-left: calc(416vw / 19.2);
}
.pl-300{
    padding-left: calc(300vw / 19.2);
}
.pl-150{
    padding-left: calc(150vw / 19.2);
}
.pl-278{
    padding-left: calc(278vw / 19.2);
}
.pr-278{
    padding-right: calc(278vw / 19.2);
}
.pr-400{
    padding-right: calc(400vw / 19.2);
}
.pr-280{
    padding-right: calc(280vw / 19.2);
}
.pr-300{
    padding-right: calc(300vw / 19.2);
}
.pr-380{
    padding-right: calc(380vw / 19.2);
}
.pr-85{
    padding-right: calc(85vw / 19.2);
}
.pr-90{
    padding-right: calc(90vw / 19.2);
}
.pr-50{
    padding-right: calc(50vw / 19.2);
}
.pr-65{
    padding-right: calc(65vw / 19.2);
}
.pr-76{
    padding-right: calc(76vw / 19.2);
}
.pr-100{
    padding-right: calc(100vw / 19.2);
}
.pr-120{
    padding-right: calc(120vw / 19.2);
}
.plr-416{
    padding-left: calc(416vw / 19.2);
    padding-right: calc(416vw / 19.2);
}
.plr-455{
    padding-left: calc(455vw / 19.2);
    padding-right: calc(455vw / 19.2);
}
.plr-176{
    padding-left: calc(176vw / 19.2);
    padding-right: calc(176vw / 19.2);
}
.plr-300{
    padding-left: calc(300vw / 19.2);
    padding-right: calc(300vw / 19.2);
}
.plr-554{
    padding-left: calc(554vw / 19.2);
    padding-right: calc(554vw / 19.2);
}
.plr-485{
    padding-left: calc(485vw / 19.2);
    padding-right: calc(485vw / 19.2);
}
.plr-400{
    padding-left: calc(400vw / 19.2);
    padding-right: calc(400vw / 19.2);
}